<br>


<style>
	[tooltip]:before {
		position: absolute;
		content: attr(tooltip);
		opacity: 0;
		padding:0px;
		
	}
	
	[tooltip]:hover:before {
		opacity: 1;
		background: black;
	}
	input[type=text] {
		color:black;
	}
	
	.navbar.search {
		top:3em;
	
	}
	
</style>


<div class="navbar fixed search">
	<div class="container">
		
			<b style="margin-right:3em;">Modules/Commands</b>
			
			Filter : 
		<input type="text" ng-model="test" placeholder="e.g. Ops" />
	</div>
</div>

<div class="space-2em"></div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Class Name</th>
			<th>Title</th>
			<th>Priority</th>
			<th># Inputs</th>
			<th>Tags</th>
			<th>More</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="opt in dataArray| orderBy: 'className' | filter : test">
			<td>{{opt | className | limitTo:30}}</td>
			<td tooltip="{{opt.className}}">{{opt.title | limitTo:30}}</td>
			<td>{{opt.priority}}</td>
			<td>{{opt.inputs.length}}</td>
			<td>
				<button class="button success" ng-if="opt.isEnabled === true">Enabled</button>
				<button class="button success" ng-if="opt.isValid === true">Valid</button>
			</td>
			<td><a class="button primary small" href='#/module/{{opt.className}}'>More</a>
			</td>
		</tr>
	</tbody>
</table>