<div class="jumbo">
	<h2>Welcome to <span class="logo">ImageJ<sup>FX</sup></span></h2>
	<p>
		Quickly create your <span class="success">personal scientific image database</span>, <span class="success">organize</span> your images and
		<span class="success">browse</span> through them like never before.
	</p>
	<p>
		<button class="button success large" ng-click="goToNextPage()" >
			<i class="fa fa-magic"></i>
			Create my scientific image database
		</button>
		<br>
		<br>
		<small>it only takes <span class="success">2min </span> !!</small>
	</p>
	<p>
		<button class="button primary small" ng-click="enterImageJ()">
			<i class="fa fa-times"></i>Skip
		</button>
	</p>

</div